body{
    margin:0;
    padding:0;
    align-items: center;
}
h1{
    text-align: center;
    padding:50px;
    font-family: 'Roboto', sans-serif;
    background-color:purple;
    color:white;
    margin: 0;
}

p{
    text-align: center; 
    padding:15px;

}


#sl{
    margin:20px;
    padding:20px;
    border: 2px solid #dfe1e5;
    border-radius: 7px;
    box-shadow: 0 5px 16px 2px rgba(32,33,36,.28);
    border-color: rgba(223,225,229,0);
    display:flex;
    flex-direction:column;
    height:auto;
    width:250px;
    margin: 0 auto;
}

#n{
    padding:8px;
    border: 2px solid #dfe1e5;
    border-radius: 25px;
    box-shadow: 0 2px 20px 6px rgba(32,33,36,.28);
    border-color: rgba(223,225,229,0);
    display:flex;
    flex-direction:column;
    margin: 0 auto;
    margin-top: 20px;
}

#add{
    margin:20px;
    padding:12px;
    background-color:rgb(61, 96, 250);
    border:none;
    color:white;
    border-radius: 5px;
}

#fname{
    margin:20px;
    padding:12px;
    border: 2px solid #dfe1e5;
    border-radius: 5px;
    box-shadow: 0 2px 8px 2px rgba(32,33,36,.28);
    border-color: rgba(223,225,229,0);
}

a{
    text-decoration: none;
    color: rgb(208, 0, 255);
}

a:hover{
    text-decoration: underline;
    color: blueviolet;
}
